<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourcompany.book_snap"> <!-- Update this to match your package name -->

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <!-- Application Tag -->
    <application
        android:name=".MainApplication"
        android:label="booksnap"
        android:icon="@mipmap/ic_launcher">
        
        <!-- MainActivity Declaration -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter Local Notifications Receivers -->
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.ActionReceiver" android:exported="true"/>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.NotificationReceiver" android:exported="true"/>

    </application>
</manifest>
